 <!-- Abstract Section -->
    <section id="abstract">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Abstract</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-justify">
                    <p>
                    Recent demonstrations of racial and gender bias in the United States have drawn public attention to stereotyping and discrimination in American society and its institutions. However, stereotyping and prejudice are only two examples of how our <b>perceptual biases impact behavior</b>. Confirmation bias, bias in media coverage of events and preferential attachment are all examples of perceptual biases that shape social processes like the creation of echo chambers and discriminatory behaviors. The emergence of social media as a prominent medium for human communication has the potential to provide a new lens for studying the relationship between perceptual biases and social processes, and the role social media plays in affecting this relationship.
                    </p>

                    <p>
                    The goal of this workshop is to <b>bring together those interested in studying how social media systems and perceptual biases co-evolve</b>, and to <b>write a position paper that outlines what existing research has shown and where new research could improve our understanding.</b> We purposely leave the definition of perceptual bias broad, as the way a person (or institution) constructs its reality. We do so in order to address a variety of possible biases, from those that impact hiring practices of social media companies to those that play a role in social interaction. 
                    </p>
                    </br>

                    <p> PBSM'17 is a half-day ICWSM workshop and will be held on <b>May 15th, 2017</b> in Montreal, CA before the conference begins.

                    <p style="font-size: 24px"><b>Questions? Comments? Email us at <a href="mailto:pbsm2017@gmail.com?Subject=Submission" target="_top">pbsm2017@gmail.com</a> and/or follow us on Twitter <a href="https://twitter.com/PBSM2017" target="_top">@pbsm2017</a></b></p>
                </div>
            </div>
        </div>
    </section>