 <!-- Outcome Section -->
    <section id="cfps">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Call for Participation</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                 </br>
                 <p>
                    We seek submissions that will contribute to the creation of the final position paper with respect to the above <a href="#themes">themes</a>. All submissions should be less than a page and should contain two parts:
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2">
                    <ol class="page-scroll">
                        <li>Describe one perceptual bias, and optionally up to two additional biases outside your area of expertise, that meaningfully impact the way one or more social media systems are used and/or that are impacted by the use of social media (<a href="#themes">theme 1</a>). </li>
                        <li>A brief sketch of a potential project or an existing work that addresses themes 2, 3 or 4 from <a href="#themes">above</a> with respect to one or more social media systems.</li>
                    </ol>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-justify">
                    <p>
                        <b>Please sent your submissions to <a href="mailto:pbsm2017@gmail.com?Subject=Submission" target="_top">pbsm2017@gmail.com</a>. <b>The deadline for submissions is <strike>March 8th</strike> Friday, March 24th at 8PM EST</b>. The final position paper will be published in a venue chosen by workshop participants, and everyone who makes a submission and attends the workshop will be invited as a contributing author to the position paper.</b>
                    </p>

            </div>
        </div>
    </section>