 <!-- Goal Section -->
    <section class="success" id="goal">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Goal</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-justify">
                    <p>
                    The goal of this workshop is to bring together those interested in studying how social media systems and perceptual biases co-evolve. We purposely leave the definition of perceptual bias broad, as the way a person (or institution) constructs its reality. We do so in order to address a variety of possible biases, from those that impact hiring practices of social media companies to those that play a role in social interaction. 
                    </p>
                </div>
            </div>
        </div>
    </section>