 <!-- Outcome Section -->
    <section id="outcome">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Position Paper</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-justify">
                    <p>
                    The outcome of this workshop will be a position paper, co-authored by all interested workshop participants, that frames research on social media systems and perceptual bias with respect to four research questions:
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2">
                    <ol>
                        <li>What are the key perceptual biases (e.g. stereotypes, ideologies, expectations) that impact social media systems?</li>
                        <li>How do social media systems impact perceptual biases and how do the biases shape social media systems?</li>
                        <li>How can social media data be used to complement existing methodologies (e.g. survey, lab experiments) for measuring specific perceptual biases?</li>
                        <li>How can social media platforms be designed to reduce bias, if possible, in cases where it is undesirable?</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>