 <!-- Program Section -->
    <section class="success" id="program">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Program</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-left">
                    <p>
                    <h3>Session 1 (8:30-10:30)</h3>
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-chevron-circle-right"></i><p>8:30-8:40: Introduction - Introduce the organizers and provide an outline of the workshop's activities.</p></li>
                            <li><i class="fa-li fa fa-chevron-circle-right"></i><p>8:40-9:00: Meet workshop participants - Allow all participants to introduce themselves, their research interests and their interests in the topic of the workshop.</p></li>
                            <li><i class="fa-li fa fa-chevron-circle-right"></i><p>9:00-9:40: Keynote 1 - Dr. Alice Marwick</p></li>
                            <li><i class="fa-li fa fa-chevron-circle-right"></i><p>9:40-10:15: Break-out groups: Participants will organize into groups of 3-4 people and discuss the various perceptual biases raised by workshop submissions, determining which they think are the most important.</p></li>
                            <li><i class="fa-li fa fa-chevron-circle-right"></i><p>10:15-10:30: Discussion of group results and collective decision on which biases to include in the paper.</p></li>
                        </ul>

                    <h3>Coffee break (10:30-11:00)</h3>

                    <h3>Session 2 (11:00-12:30)</h3>
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-chevron-circle-right"></i><p>
                                11:00-11:40: Keynote 2 - Dr. Christo Wilson
                           </p> </li>
                            <li><i class="fa-li fa fa-chevron-circle-right"></i><p>
                                11:40-12:15: Break-out groups: Participants will organize into different groups of 3-4 people and discuss Questions 2-4 with a focus on perceptual biases of particular importance.
                            </p></li>
                            <li><i class="fa-li fa fa-chevron-circle-right"></i><p>
                                12:15-12:30: Discussion and conclusions - Including determining a path for finalization of the position paper and submission details.</p>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </section>