 <!-- Submission Section -->
    <section class="success" id="submission">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Submission</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9 col-lg-offset-2 text-justify">
                    <p>
                    We seek submissions that will assist in creating an outline for the position paper. All submissions should be less than a page and should contain two parts:
                    </p>
                </div>
                <div class="col-lg-9 col-lg-offset-2">
                    <ol class="page-scroll">
                        <li>A brief outline of three perceptual biases that impact the way one or more social media systems are used and/or that are impacted by the use of social media. </li>
                        <li>A brief sketch of a potential project or an existing work that addresses Question 2, 3 or 4 from the <a href="#themes" style="color: #2c3e50;">above themes</a> with respect to one or more social media systems.</li>
                    </ol>
                </div>
                <div class="col-lg-9 col-lg-offset-2 text-justify">
                    <p>
                        Submissions will be non-archival. The final position paper will be published in a venue chosen by workshop participants. Anyone who makes a submission and attends the workshop will be invited as contributing author to the position paper.
                    </p>
                </div>
            </div>
        </div>
    </section>